* {
  margin: 0;
  padding: 0;
}

.header-title {
  width: 100%;
  height: 5rem;
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  grid-template-areas: "left center right";
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(185, 185, 185);
}
.header-title a {
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 1.5rem;
}
.header-title #logo-img {
  width: 50%;
  height: 80%;
  margin-left: 25%;
}
.header-title #search-bar {
  align-items: center;
  width: 100%;
  text-align: center;
  height: 3rem;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}
.header-title #search-button {
  width: 3rem;
  height: 3rem;
  border-radius: 5px;
  color: white;
  background-color: black;
}
.header-title #search-button:hover {
  background-color: orange;
}
.header-title #icon-search {
  font-size: 25px;
}
.header-title .cart-container {
  display: flex;
  height: 5rem;
  justify-content: center;
  align-items: center;
}
.header-title .cart-container ion-icon {
  font-size: 2rem;
  margin: 1rem;
}
.header-title .cart-container ion-icon:hover {
  transform: scale(1.1, 1.1);
  transition: 0.5s;
}
.header-title .cart-container a {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}
.header-title .cart-container a:hover {
  transform: scale(1.1, 1.1);
  transition: 0.5s;
}

#left {
  grid-area: left;
}

#main {
  grid-area: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#right {
  grid-area: right;
}

.nav-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 15rem;
  border-bottom: 1px solid rgb(168, 168, 168);
  height: 3rem;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}
.nav-container a {
  text-decoration: none;
  color: black;
  margin: 1rem;
  text-align: center;
}
.nav-container a:hover {
  transform: scale(1.1, 1.1);
  transition: 0.5s;
}
.nav-container ion-icon {
  font-size: 25px;
}
.nav-container .btn {
  background-color: white;
  color: black;
  width: 15rem;
  font-size: 20px;
}
.nav-container .btn:hover {
  background-color: orange;
}
.nav-container .dropdown-menu {
  width: 15rem;
}
.nav-container .dropdown-menu .dropdown-item {
  text-align: center;
  width: 10%;
  font-size: 15px;
}
.nav-container .dropdown-menu .dropdown-item:hover {
  background-color: white;
}

.carousel-item img {
  width: 100%;
  height: 25rem;
  image-resolution: from-image 600dpi;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section img {
  margin: 4rem;
  width: 20rem;
  height: 20rem;
  border: 1px solid orange;
  border-radius: 15px;
}
.section img:hover {
  transform: scale(1.1, 1.1);
  border: 2px solid orange;
  transition: all 0.5s;
}

.outstandings h2 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.outstandings .outstanding-container {
  width: 20%;
  justify-content: center;
  align-items: center;
  border: 1px solid orange;
  margin-left: 5rem;
  margin-right: 5rem;
  border-radius: 15px;
  padding: 2rem;
  gap: 2rem;
}
.outstandings .outstanding-container .card {
  font-family: "Montserrat", sans-serif;
  height: 35rem;
}
.outstandings .outstanding-container .card img {
  width: 100%;
  height: 20rem;
}
.outstandings .outstanding-container .card .btn {
  background-color: orange;
  border: 0px;
}

.footer {
  margin: 2rem;
  display: grid;
  grid-template-columns: 3fr 3fr;
  column-gap: 5rem;
  background-color: rgba(179, 178, 178, 0.356);
  padding: 2rem;
}
.footer li {
  list-style: none;
  text-align: center;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 2rem;
}
.footer ion-icon {
  font-size: 35px;
}
.footer #facebook:hover {
  color: rgb(44, 44, 230);
}
.footer #instagram:hover {
  color: rgb(111, 5, 121);
}
.footer #twitter:hover {
  color: rgb(4, 124, 236);
}
.footer #linkedin:hover {
  color: rgb(2, 2, 128);
}

.main-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}
.main-contact h2 {
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
}
.main-contact h5 {
  text-align: center;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
}
.main-contact input {
  width: 40%;
  height: 3rem;
  border: 1px solid orange;
  border-radius: 15px;
  padding: 1rem;
}
.main-contact textarea {
  width: 40%;
  border: 1px solid orange;
  border-radius: 15px;
  padding: 1rem;
}
.main-contact .send-button {
  width: 10%;
  height: 2rem;
  background-color: orange;
  border: none;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}

#register {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  text-decoration: underline 3px solid orange;
  margin-top: 30vh;
}

h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  text-decoration: underline 3px solid orange;
}

.form-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.form-box .inputBox {
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid orange;
}
.form-box .inputBox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: 0.5s;
}
.form-box .inputBox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  padding: 0 35px 0 5px;
}
.form-box .inputBox input:focus ~ label,
.form-box .inputBox input:valid ~ label {
  top: -5px;
}
.form-box .inputBox ion-icon {
  position: absolute;
  right: 8px;
  top: 20px;
}
.form-box .forget {
  margin: -15px 0 15px;
  display: flex;
  justify-content: center;
}
.form-box button {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background-color: orange;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
}
.form-box .register {
  text-align: center;
  margin: 25px 0 10px;
}
.form-box .register a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

/*# sourceMappingURL=style.css.map */
