//font-family: 'Montserrat', sans-serif;

* {
    margin: 0;
    padding: 0;
}



.header-title {
    width: 100%;
    height: 5rem;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-areas: 
    "left center right";
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(185, 185, 185);
    a {
        text-decoration: none;
        color: black;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        font-size: 1.5rem;
        
    }
    #logo-img {
        width: 50%;
        height: 80%;
        margin-left: 25%;
    }
    #search-bar {
        align-items: center;
        width: 100%;
        text-align: center;
        height: 3rem;
        border-radius: 5px;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
    }
    #search-button {
        width: 3rem;
        height: 3rem;
        border-radius: 5px;
        color: white;
        background-color: black;
    }
    #search-button:hover {
        background-color: orange;
    }
    #icon-search {
        font-size: 25px;
    }
    .cart-container {
        display: flex;
        height: 5rem;
        justify-content: center;
        align-items: center;
        ion-icon {
            font-size: 2rem;
            margin: 1rem;
        }
        ion-icon:hover {
            transform: scale(1.1,1.1);
            transition: 0.5s;
        }
        a {
            font-size: 15px;
            font-family: 'Montserrat', sans-serif;
        }
        a:hover {
            transform: scale(1.1,1.1);
            transition: 0.5s;
        }
    }
}
#left {
    grid-area: left;
}
#main {
    grid-area: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#right {
    grid-area: right;
}

.nav-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15rem;
    border-bottom: 1px solid rgb(168, 168, 168);
    height: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    a {
        text-decoration: none;
        color: black;
        margin: 1rem;
        text-align: center;
    }
    a:hover {
        transform: scale(1.1,1.1);
        transition: 0.5s;
    }
    ion-icon{
        font-size: 25px;
    }
    .btn {
        background-color: white;
        color: black;
        width: 15rem;
        font-size: 20px;
    }
    .btn:hover {
        background-color: orange;
    }
    
    .dropdown-menu {
        width: 15rem;
        .dropdown-item {
            text-align: center;
            width: 10%;
            font-size: 15px;
        }
        .dropdown-item:hover {
            background-color: white;
        }
    }
}
.carousel-item img {
    width: 100%;
    height: 25rem;
    image-resolution: from-image 600dpi;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        margin: 4rem;
        width: 20rem;
        height: 20rem;
        border: 1px solid orange;
        border-radius: 15px;
    }
    img:hover {
        transform: scale(1.1,1.1);
        border: 2px solid orange;
        transition: all 0.5s;
    }
}

.outstandings {
    h2 {
        font-family: 'Montserrat', sans-serif;
        text-align: center;
    }
    .outstanding-container {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid orange;
        margin-left: 5rem;
        margin-right: 5rem;
        border-radius: 15px;
        padding: 2rem;
        gap: 2rem;
        .card {
            font-family: 'Montserrat', sans-serif;
            height: 35rem;
            img {
                width: 100%;
                height: 20rem;
            }
            .btn {
                background-color: orange;
                border: 0px;
            }
        }
    }
}

    